main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    min-height: 100vh;
    padding: 16px;
}

.blog-preview-card {

    max-width: 100%;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 26px;
    box-shadow: 8px 8px 0 2px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.blog-preview-card__decorative {
    width: 100%;
    height: auto;
    border-radius: 16px;
    background-color: antiquewhite;
}

.blog-preview-card figure {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    transition: transform 0.2s ease;
    align-self: flex-start;
    transform-origin: left;
}

.blog-preview-card__category {
    background-color: rgb(246, 208, 80);


    align-self: flex-start;
    padding: .5rem 1rem;
    border-radius: 16px;
    transition: transform 0.2s ease;
    transform-origin: left;
}

.blog-preview-card__category:hover {
    transform: scale(1.05);
}

.blog-preview-card__category:active {
    transform: scale(0.95);
}

.blog-preview-card figure:hover {
    transform: scale(1.05);

}

.blog-preview-card figure:active {
    transform: scale(0.95);
}

.blog-preview-card a {
    text-decoration: none;
    color: unset;
}

.blog-preview-card, .blog-preview-card__content-link {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}