@font-face {
    font-family: "Figtree";
    src: url('../fonts/Figtree-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 200 900;
}

@font-face {
    font-family: "Figtree";
    src: url('../fonts/Figtree-Italic-VariableFont_wght.ttf');
    font-style: italic;
    font-weight: 200 900;
}

body {
    font-family: "Figtree", sans-serif;
}